@using Mail.MVC.Models.Account;
@model LoginViewModel

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Вход</h2>
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div class="form-group">
                        <label for="login">Логин:</label>
                        <input asp-for="Login" type="text" class="form-control" id="login" name="Login" required>
                        <span asp-validation-for="Login" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">Пароль:</label>
                        <input asp-for="Password" type="password" class="form-control" id="password" name="Password" required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Войти</button>
                </form>
                <div class="text-danger mt-2">@ViewBag.Error</div>
                <div class="text-center mt-3">
                    <a href="/Account/Register">Регистрация</a>
                </div>
            </div>
        </div>
    </div>



</body>
</html>
